@using goose2s.Services
@using goose2s.State
@using goose2s.Models
@using System.Threading
@inject QueueService queue


@code {
    [CascadingParameter]
    private SpotifyStateProvider SpotifyStateProvider { get; set; }
    private QueueItem[] results { get; set; }
    [Parameter]
    public Action<QueueItem> TrackChanged { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        results = await queue.GetQueue("static");

        var timer = new Timer(new TimerCallback(async _ =>
        {
            await InvokeAsync(async () => {
                results = await queue.GetQueue("static");
                this.StateHasChanged();
            });
        }), null, 168, 168);
    }
    private void Yield(MouseEventArgs eventArgs, QueueItem item) {
        TrackChanged?.Invoke(item);
    }
}

<div>
</div>

@if (results == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div>
    <table class="core">
        <thead>
            <tr>
                <th>...</th>
                <th>Image</th>
                <th>Name</th>
                <th>Artist</th>
                <th>Popularity</th>
            </tr>
        </thead>
        <tbody>            
    @foreach (var result in results)
    {
            <tr>
                <td><button @onclick="@((e)=>Yield(e, result))">▶️</button></td>
                <td><img src="@result.Image" /></td>
                <td>@result.TrackName</td>
                <td>@result.ArtistName</td>  
                <td>
                    <table width="100%" class="slim">
                        <tr>
                            <td width="@(result.Popularity)%" style="background-color:#6f42c1"></td>
                            <td width="@(100-result.Popularity)%" style="background-color:#eee"></td>
                        </tr>
                    </table></td>      
            </tr>
    }
        </tbody>
    </table>
</div>
}