@using goose2s.Services
@using goose2s.State
@using goose2s.Models
@inject SearchService search


@code {
    [CascadingParameter]
    private SpotifyStateProvider spotify { get; set; }
    private SearchResults results { get; set; }
    private async Task SearchChanged(ChangeEventArgs e)
    {
        results = await search.SearchTrack(e.Value.ToString(), spotify.CurrentContext.access_token);
    }
    private void Add(MouseEventArgs e, SpotifyItem item) {
        try {
            spotify.Enqueue("static", item);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            //why you stoppy
        }
    }
}


@if (spotify.CurrentContext == null || !spotify.CurrentContext.Success)
{
    <p><em>Not logged in</em></p>
}
else if (results == null) 
{
<div>
    <input type="text" @onchange="SearchChanged" />
</div>
    <p><em>No results</em></p>
}
else
{
<div>
    <input type="text" @onchange="SearchChanged" />
</div>
<div>
    <table class="core">
        <thead>
            <tr>
                <th>...</th>
                <th>Image</th>
                <th>Name</th>
                <th>Artist</th>
                <th>Popularity</th>
            </tr>
        </thead>
        <tbody>            
    @foreach (var result in results.tracks.items)
    {
            <tr>
                <td><button id="@result.id" @onclick="@(e => Add(e, result))">+</button></td>
                <td><img src="@result.album?.images.OrderBy(i=>i.width).First().url" /></td>
                <td>@result.name</td>
                <td>@result.artists[0].name</td>  
                <td>
                    <Meter Level="@result.popularity"/>
                </td>      
            </tr>
    }
        </tbody>
    </table>
</div>
}